/* =============================== General Styling ===============================*/
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  background-image: url("../images/backgroundimg.jpg");
  font-family: 'Cabin', sans-serif;
}

.container {
  margin: 0 auto;

}

header {
  text-align: center;
  padding: 10px;
  color: yellow;
  background-color: red;
  border-style: double;
  margin-top: 5px;
}

h1 {
  text-align: center;
}

.pawpatrollogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

/* =============================== Cards area Styling ===============================*/
/* Credit I followed the tutorial https://www.youtube.com/watch?v=ZniVgo8U7ek and customised styling*/
.main-area {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 6px);
  height: calc(33.333% - 6px);
  margin: 3px;
  position: relative;
  transform-style: preserve-3d;
  transform: scale(1);
  /*insert card element into 3d space*/
  -webkit-transform-style: preserve-3d;
  -webkit-transform: scale(1);
  border: 3px solid red;
}

.card:active {
  transform: scale(.95);
  transition: transform .3s;
  -webkit-transform: scale(.95);
  -webkit-transition: transform .3s;
}

.front-card,
.back-card {
  /* relative to card so they will back card will cover the front card*/
  width: 100%;
  height: 100%;
  padding: 1px;
  position: absolute;
  border-radius: 5px;
  background: white;
  backface-visibility: hidden;
  /* shows the front-card*/
  -webkit-backface-visibility: hidden;
}

.card.select {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

.front-card {
  transform: rotateY(180deg);
  -webkit-transform: rotateY(180deg);
}

/* =============================== Modal Styling ===============================*/
/* Credit : I followed the w3 school https://www.w3schools.com/howto/howto_css_modals.asp and customised the styling */
/* The Modal (background) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  /* Sit on top */
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-game {
  padding-top: 150px;
}

.modal-rules {
  padding-top: 50px;
}

/* Modal Content */
.modal-contentgame {
  background-color: darkblue;
  color: yellow;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 500px;
}

li {
  list-style-type: none;
  margin-left: 20px;
  padding-bottom: 3px;
}

/* =============================== Button Styling ===============================*/
.close {
  color: #aaaaaa;
  float: right;
  font-size: 45px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.btn-hover:hover {
  background-color: yellow;
  border: none;
  color: red;
  cursor: pointer;
}

.btn:active {
  color: yellow;
  color: red;
  transform: translateY(4px);
}

.btn {
  align-items: center;
  justify-content: center;
  background-color: red;
  color: yellow;
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 5px;
  width: 150px;
  height: 30px;
  border: 1px solid;
  border-radius: 5px;
}

.btnsml {
  margin: 20px;
  width: 100px;
  height: 30px;
  display: inline-block;
  border-radius: 5px;
}

#savebtn {
  margin: 0 auto;
  display: block;
}

#scoretable {
  text-align: center;
  margin: auto;
  padding: 1px;
  border: 3px solid yellow;
  width: 100%;
}

#scoretable tr:nth-child(even) {
  background-color: RED;
}

#scoretable tr:hover {
  background-color: YELLOW;
  color: red;
}

#winnername {
  margin: 0 auto;
  display: block;
}

/* =============================== Media Queries ===============================*/
@media (max-height:800px) {
  .main-area {
    width: 500px;
    height: 500px;
  }
}
  @media (max-height:700px) {
    .main-area {
      width: 400px;
      height: 400px;
    }
  }
  
    @media (max-width:800px) {
      .main-area {
        width: 480px;
        height: 480px;
      }

      .card {
        width: calc(25% - 2px);
        height: calc(33.333% - 2px);
        margin: 1px;
      }

      .modal-contentgame {
        width: 400px;
      }
    }

    @media (max-width:700px) {
      .main-area {
        width: 420px;
        height: 420px;
      }
    }

    @media (max-width:600px) {
      .modal-contentgame {
        width: 300px;
      }
    }

    @media (max-width:500px) {
      .main-area {
        width: 380px;
        height: 380px;
      }

      h1 {
        font-size: 25px;
      }

      div p {
        font-size: 14px;
      }

      div h3 {
        font-size: 16px;
      }

      div li {
        font-size: 14px;
      }
    }

    @media (max-width:400px) {
      .main-area {
        width: 350px;
        height: 350px;
      }
    }

    @media (max-width:350px) {
      .main-area {
        width: 300px;
        height: 300px;
      }
    }

    @media (max-width:300px) {
      .main-area {
        width: 250px;
        height: 250px;
      }

      .modal-contentgame {
        width: 200px;
      }

    }