* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  background-image: url("../images/backgroundimg.png");

}


.container {
  margin: auto;
  /* center main area container vertically and hortionzal */

}

header {
  text-align: center;
  padding: 10px;
  color: yellow;
  background-color: red;
  border-style: double;


}

.main-area {
  width: 640px;
  height: 640px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: calc(25% - 6px);
  height: calc(33.333% - 6px);
  margin: 3px;
  position: relative;
  transform-style: preserve-3d;
  transform: scale(1);
  /*insert card element into 3d space*/
}

.card:active {
  transform: scale(.95);
  transition: transform .3s;
}

.front-card,
.back-card {

  /* relative to card so they will back card will cover the front card*/
  width: 100%;
  height: 100%;
  padding: 5px;
  position: absolute;
  /* postion relative to card*/
  border-radius: 5px;
  background: lightblue;

}

.card.select {
  transform: rotateY(180deg);
  /* when select class is present rotate 180oc)*/
}

.front-card {
  transform: rotateY(180deg);
}

/* Modal Styling
/* The Modal (background) */
.modal {
  display: none;
  /* Hidden by default */
  position: fixed;
  /* Stay in place */
  z-index: 1;
  /* Sit on top */

  left: 0;
  top: 0;
  width: 100%;
  /* Full width */
  height: 100%;
  /* Full height */
  overflow: auto;
  /* Enable scroll if needed */
  background-color: rgb(0, 0, 0);
  /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4);
  /* Black w/ opacity */
}

.modal-game {
  padding-top: 100px;
  /* Location of the box */
}

.modal-rules {
  padding-top: 50px;
  /* Location of the box */
}

/* Modal Content */
.modal-content {
  background-color: darkblue;
  color: yellow;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}

li {
  list-style-type: none;
  /* Remove bullets */
  margin-left: 20px;
  padding-bottom: 3px;
}

h1 {
  text-align: center;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.pawpatrollogo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.btn-hover:hover {
  background-color: yellow;
  border: none;
  color: red;
  cursor: pointer;
}

button {
  align-items: center;
  justify-content: center;
  background-color: red;
  color: yellow;
  display: block;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 30%;
  height: 8vh;
  border: 1px solid;
}

.back {
  border: 2px solid black;
}


@media (max-width:3500px) {
  .modal-contentgame {
    width: 25%;
  }
}

@media (max-width:2500px) {
  .modal-contentgame {
    width: 30%;
  }
}

@media (max-width:2000px) {
  .modal-contentgame {
    width: 40%;
  }
}

@media (max-width:1500px) {
  .modal-contentgame {
    width: 50%;
  }
}

@media (max-width:1000px) {
  .modal-contentgame {
    width: 80%;
  }
}
 @media (max-width:800px) {
    .main-area {
      width: 480px;
      height: 480px;
    }

    .card {
      width: calc(25% - 2px);
      height: calc(33.333% - 2px);
      margin: 1px;
    }
  }
@media (max-width:500px) {
  .modal-contentgame {
    width: 90%;
  }
  .main-area {
    width: 400px;
    height: 400px;
  }
 
}
  @media (max-width:400px) {
    .modal-contentgame {
      width: 80%;
    }
   
    .main-area {
      width: 300px;
      height: 300px;
    }
    
  }

